@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Inter', system-ui;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #6415FF;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 12px 32px;
    border-radius: 40px;
    border: none;
    transition: all 300ms ease; 
}

.logo__container {
    display: flex;
    align-items: center;
}

.logo__img {
    height: 40px;
    width: 40px;
}

.logo__text {
    font-weight: 900;
    padding-left: 12px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.purple {
    color: #6415FF;
}

.nav__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.025em;
    padding: 0 24px;
}

.nav__link--secondary {
    padding: 0px;
    margin: 0px 24px 0px 48px;
}

.nav__link--primary {
    background-color: #6415FF;
    color: white;
    padding: 12px 32px;
    border-radius: 20px;
    border: none;
    transition: all 300ms ease;

}

.nav__link--primary:hover {
    background-color: #5a1ada;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__row {
    display: flex;
    margin: 32px 0;
}

.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__img--container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__img {
    width: 100%;
    max-width: 32rem;
    min-width: 0px;
}

.header__subtitle {
    font-size: 36px;
}

.header__para {
    margin: 32px 0;
}

.header__input {
    position: relative;
}

.header__input--email {
    font-size: 100%;
    font-weight: 500;
    color: black;
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-color: rgb(231, 230, 230);
    border-radius: 80px;
}

.header__input--email::placeholder {
    color: rgb(231, 230, 230);
}

.header__btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 10rem;
    margin-right: 0.5rem;
    justify-content: center;
    font-weight: 700;
    font-size: 100%;
}

.header__customers {
    margin-top: 5rem;
}

.header__customers--subtitle {
    color: rgb(160 174 192);
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.header__customers__img {
    width: 100%;
    opacity: 0.5;
    margin-top: 1rem;
    padding-right: 4rem;
}

/* 

FEATURES

*/

.span__purple {
    font-weight: 700;
    letter-spacing: 0.1em;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__subtitle {
    width: 100%;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    text-align: center;
    margin: 24px 0;
}

.features__para {
    width: 100%;
    font-size: 1.125rem;
    color: rgb(124 139 161);
    text-align: center;
    max-width: 36rem;
}

.services {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100%/3);
    padding: 32px 8px;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
}

.service__title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.025em;
    line-height: 1;
}

.service__para {
    margin-top: 1rem;
    font-weight: 500;
    line-height: 2;
    color: rgb(124 139 161)
}

.service__img {
    border: 1px solid rgb(124 139 161);
    padding: 1.25rem;
    border-radius: 50px;
}

/* 

QUALITY

*/

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 72px;
}

.quality__btn {
    max-width: 141px;
}

.quality__subtitle {
    text-align: left;
    font-size: 3rem;
    font-weight: 900;
    margin: 16px 0px;
    line-height: 1.25;
}

.quality__img--container {
    width: 50%;
}

.quality__img {
    width: 100%;
    border: 1px solid rgb(196, 209, 228);
    border-radius: 4px;
    height: auto;
}

.quality__row {
    display: flex;
}

.quality__para {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: rgb(124 139 161);
    margin-bottom: 20px;
}